.json-input {
  height: 15rem;
  width: 25rem;
  resize: none;

  @media (max-width: 900px) {
    width: 15rem;
    font-size: 0.7rem;
  }

  @media (max-width: 400px) {
    width: 13rem;
    font-size: 0.5rem;
  }
}
